#container {
  width: 960px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #ffffff;
  border: 2px #cccccc solid;
}

section {
  width: 954px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 20px;
}

#name {
  background-color: #4aaaa5;
  width: 300px;
  color: #ffffff;
  margin: 0px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

ul {
  position: absolute;
  top: 20px;
  right: 0;
}

li {
  float: left;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
}

#aboutMeSection {
  margin-top: 50px;
  border: #dddddd 3px solid;
}

#sectionHeading {
  color: #4aaaa5;
  margin-left: 15px;
  font-size: 40px;
}

body {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower-dark.png);
  font-family: Arial, Helvetica, sans-serif;
  margin: -10px;
  color: #777777;
}

#profilePic,
img {
  width: 300px;
  height: 200px;
  padding: 20px;
}
#profilePic {
  float: left;
}

#relative {
  /* width: 300px; */
  position: relative;
  display: inline;
}
#absolute {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #ffffff;
  background-color: #4aaaa5;
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

#first {
  overflow: auto;
}

p {
  line-height: 30px;
  padding: 10px;
}

.content {
  min-height: calc(100vh - 70px);
}

.footer {
  height: 50px;
  border-top: 8px solid #4aaaa5;
  background-color: #ffffff;
}

hr {
  width: 920px;
}

label {
  display: block;
  padding: 2px;
}
input,
textarea {
  width: 920px;
  margin: 10px;
}

input {
  height: 30px;
}

textarea {
  height: 200px;
}

button {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 5px;
  border: none;
  margin: 10px;
}
